.nosce {
    border: 1px groove black;
    box-shadow: 0 0 20px;
    margin: 200px auto;
    width: 1200px;
    height: 500px;
    padding: 50px;
    text-align: left;
    align-items: center;
    display: flex;
}

.nosce button {
    float: left;
    font-size: 20px;
    width: 100px;
    border-radius: 10px;
    background-color: rgb(3, 13, 68);
    color: white;
    cursor: pointer;
}

.nosce button:hover {
    background-color:blue ;
}


.dl {
    margin-top: 0;
    float: left;
    font-size: 20px;
    position: relative;
    left: 10px;
}

#icon {
    margin-left: 20px;
    overflow: hidden;
    float: left;
    font-size: 20px;
}

.socmed {
    margin-top: 350px;
    position: absolute;
    display: flex;
    float: left;
    font-size: 40px;
    left: 95px;
}



#rhoma {
  padding-left: 20px;
}

strong {
    position: relative;
    left: 150px;

}

.fs {
    position: relative;
    left:145px;
}