<html>
    <head>
        <title>PROJECT DETAIL</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
        <link rel="stylesheet" href="/public/css/style.css">
        <link rel="stylesheet" href="/public/css/styling.css">
    </head>
    <body>
        <div class="bg">
            <nav class="d-flex navbar navbar-light bg-light">
                <nav class="navbar">
                    <a class="navbar-brand" href="/">
                        <img src="/public/images/dw2.png" width="60" height="40" alt="">
                    </a>
                    <ul class="nav justify-content-start">
                        <li class="nav-item">
                            <a class="nav-link active" href="/">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/form-blog">Add Project</a>
                        </li>
                    </ul>
                </nav>
                <nav class="nav-rgt">
                    <ul class="nav justify-content-center">
                        <li class="nav-item">                           
                        {{if .Data.IsLogin}}
                            <li>
                                <a href="" class="nav-link">Hello, {{.Data.UserName}}</a>
                            </li>
                            <li>
                                <a href="/logout" class="nav-link list-active">Logout</a>
                            </li>
                            {{else}}
                            <li>
                                <a href="/form-register" class="nav-link">Register</a>
                            </li>
                            <li>
                                <a href="/form-login" class="nav-link">Login</a>
                            </li>
                            {{end}}
                        </li>
                        <a href="/contact">
                            <button type="button" class="btn btn-dark">Contact Me</button>
                        </a>
                    </li>
                </ul>
            </nav>
            </nav>
       <!-- Blog -->
       <div class="detail-blog">
        <div class="detail-blog-card">
            <h1 class="detail-blog-title">
                {{.Blog.Name}}
            </h1>
            <p>{{.Blog.Format_start}} - {{.Blog.Format_end}} | {{.Blog.Author}} | {{.Blog.Technologies}}</p>
            <div class="detail-blog-author">
                <h5 style="color: grey;">Duration : {{.Blog.Duration}}</h5>
            </div>
            <img src="/public/images/cd.jpg" alt="photo" />
            <p class="detail-blog-content">
                {{.Blog.Description}}
            </p>
        </div>
    </div>
    </body>
</html>