<!DOCTYPE html>
<html>
    <head>
        <title>HOME</title>
        <link rel="stylesheet" href="/public/css/style.css">
        <link rel="stylesheet" href="/public/css/blog-list.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
        <link rel="stylesheet" href="/public/css/styling.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="bg">
                <nav class="d-flex navbar navbar-light bg-light">
                    <nav class="navbar">
                        <a class="navbar-brand" href="/">
                            <img src="./public/images/dw2.png" width="60" height="40" alt="">
                        </a>
                        <ul class="nav justify-content-start">
                            <li class="nav-item">
                                <a class="nav-link active" href="/">HOME</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/form-blog">Add Project</a>
                            </li>
                        </ul>
                    </nav>
                    <nav class="nav-rgt">
                        <ul class="nav justify-content-center">
                            <li class="nav-item">                           
                                <a href="/contact">
                                    <button type="button" class="btn btn-dark">Contact Me</button>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </nav>
                <div class="container">
                    <div class="card d-flex justify-content-center max-width:100% max-height:100%; p-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">      
                                    <div class="d-flex justify-content-start">
                                        <h5 class="card-title">Hi Welcome to my hut</h5>
                                    </div>                    
                                    <div class="d-flex flex-row justify-content-start mb-3">
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.                        
                                        </p>
                                    </div>
                                    <div id="txt" class="d-flex justify-content-start">
                                        <div id="ctc" class="mr-1">
                                            <a href="/contact"><button type="button" class="btn btn-dark">contact</button></a>
                                            
                                        </div>
                                        <div class="mr-1 mt-1">
                                            <p class="dl">download CV</p>
                                            
                                        </div>
                                        <div class="mr-1 mt-1">

                                            <i id="icon" class="fa-sharp fa-solid fa-download"></i>
                                        </div>
                                    </div>
                                    <div class="scm">
                                        <a href="https://id.linkedin.com"><i style="padding-left:5px ; padding-right: 20px;" class="fa-brands fa-linkedin"></i></a>
                                        <a href="https://instagram.com"><i style="padding:20px ;" class="fa-brands fa-square-instagram"></i></a>
                                        <a href="https://facebook.com"><i style="padding:20px ;" class="fa-brands fa-facebook"></i></a>
                                        <a href="https://twitter.com"><i style="padding:20px ;" class="fa-brands fa-square-twitter"></i></a>
                                    </div>
                                </div>
                                    <div class="col">
                                        <img class="col-sm" src="./public/images/rhoma.jpg" alt="sans"/>
                                        <h2 class="text-center">RHOMA IRAMA</h2>
                                        <p class="text-center">Fustack Developer</p>    
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <center>
                    <h1>My Project</h1>
                </center>
                <div class="blog">
                    <div id="contents" class="blog-list">
                        <!-- dynamic content here -->
                        {{range $index, $data := .Blogs}}
                        <div class="blog-list-item">
                            <div class="blog-image">
                                <img src="/public/images/cd.jpg">
                            </div>
                            <div class="blog-content">
                                <h2>
                                    <a style="color: black;" href="/blog-detail/{{$data.Id}}" target="_blank">
                                        {{$data.Name}}
                                    </a>
                                </h2>
                                <div>
                                    <h6>
                                        Duration
                                    </h6>
                                </div>
                                <div class="detail-blog-content">
                                    {{$data.Format_start}} - {{$data.Format_end}} 
                                </div>
                                <div>
                                    {{$data.Technologies}} | id {{$data.Id}}
                                </div>
                                <div>
                                    <p>{{$data.Description}}</p>
                                </div>
                                <div id="app">
                                    <i style="padding:10px ; font-size: 30px;"  class="fa-brands fa-google-play"></i>
                                    <i style="padding:10px ; font-size: 30px;" class="fa-brands fa-android"></i>
                                    <i style="padding:10px ;font-size: 30px;" class="fa-brands fa-java"></i>

                                </div>
                                <div class="btn-group">
                                    <a href="/edit-form-blog/{{$data.Id}}" class="btn-edit">Edit</a>
                                    <a href="/delete-blog/{{$data.Id}}" class="btn-post">Delete</a>
                                </div>
                            </div>
                        </div>
                        {{end}}
                    </div>
                </div>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>