body {
    margin: 0;
    padding: 0;
  }  

.nosce {
    border: 1px groove black;
    box-shadow: 0 0 20px;
    margin: 50px auto;
    width: 1200px;
    height: 500px;
    padding: 40px;
    align-items: center;
    display: flex;
    flex-direction: row;

}

.ctc button {
    float: left;
    font-size: 20px;
    width: 100px;
    height: 35px;
    border-radius: 10px;
    background-color: rgb(3, 13, 68);
    color: white;
    cursor: pointer;
    position: relative;
    right: 5px;
    text-align: center;
}





.dl {
    margin-top: 0;
    float: left;
    font-size: 20px;
    position: relative;
    left: 10px;
    margin-top: 5px;
}

#icon {
    margin-left: 20px;
    overflow: hidden;
    float: left;
    font-size: 20px;
    position: relative;
    left: 2px;
    margin-top: 4px;
}

.socmed {
    display: flex;
    font-size: 40px;
    position: relative;
    float: left;
    right: 22px;
}



.rhm {
    border: 1px #f8f8f8 solid;
    padding: 10px;
    background-color: #f8f5f5;
}


strong {
   position: relative;
   left :140px;

}

.fs {
    position: relative;
    left: 135px;
}

.socmed a{
    color: black;
}
