* {
    text-decoration: none;
}

body {
    margin: 0;
}

.nav {
    background-color: #f4f3f3;
    display: flex;
    align-items: center;
    height: 12vh;
}

.nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

.nav ul li {
    margin-right: 30px;
    color: black;
    font-weight: bold;
    font-size: 25px;
}

.nav ul li img {
    padding-top: 8px;
    width: 50px;
    height: 35px;
}

.nav-left {
    flex: 70%;
    margin: down 20px;
}

.nav-left li a{
    color: black;
}

.nav-right {
    padding-top: 5px;
    text-align: center;
    margin-right: 30px;
    font-size: 25px;
    width: 150px;
    height: 35px;
    border-radius: 8px;
    background-color: #111727;
}

.nav-right a {
    color: white;
}
