h1 {
    margin: 50px auto;
    width: 250px;
}

body .clr {
    background-color: #e3e7eb;
}

.clr {
    background-color: #e3e7eb;
}

form{
    width: 400px;
    margin: 100px auto;
    padding: 5px;
}

form div {
    margin-top: 5px;
}

label {
    font-weight: bold;
    font-size: 20px;
}

input, select, textarea {
    border: 1px solid rgb(255, 255, 255);
    background-color: antiquewhite;
    width: 100%;
    resize:none ;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px;
}

.sbtm {
    float: right;
    background-color: rgb(20, 11, 39);
    color: rgb(255, 255, 255);
    padding: 6px 20px;
    border: 0;
    border-radius: 10px;
    margin-top: 15px;
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(68, 8, 117);
}