<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="./public/css/nav.css">
    <link rel="stylesheet" href="./public/css/blog.css">
</head>
<body>
    <nav class="nav">
        <div class="nav-left">
            <ul>
                <li><a href="/"><img src="./public/images/dw2.png"></a></li>
                <li><a href="/">Home</a></li>
                <li><a href="/blog">My Project</a></li>
            </ul>
        </div>
        <div class="nav-right">
            <a href="/contact">Contact Me</a>
        </div>
    </nav>
    <div class="blog">
        <div class="blog-form">
            <div class="form-container">
                <div>
                        <h1>ADD MY PROJECT</h1>
                        <div class="pj">
                            <label for="input-tittle">Project Name</label>
                            <input name="inputTittle" id="input-tittle">
                        </div>
                        <div class="date">
                            <div>
                                <label for="input-start-date">Start Date</label>
                                <input name="startDate" type="date" id="start">
                            </div>
                            <div>
                                <label for="input-end-date">End Date</label>
                                <input name="endDate" type="date" id="end">
                            </div>
                        </div>
                        <div class="dc">
                            <label for="input-content">Description</label>
                            <textarea name="inputContent" id="input-content"></textarea>
                        </div>
                        <div>
                            <h2>Technologies</h2>
                        </div>
                    </div>
                    <div name="inputCheckbox" class="input-checkbox" id="input-checkbox">
                        <div>
                            <input type="checkbox" id="js1" name="js1" value="Node Js" onchange="some_var=this.checked;">
                            <label for="js1"> Node Js</label>
                            <input type="checkbox" id="js2" name="js2" value="React Js" onchange="some_var=this.checked;">
                            <label for="js2"> React Js</label>
                        </div>
                        <div>
                            <input type="checkbox" id="js3" name="js3" value="Next Js" onchange="some_var=this.checked;">
                            <label for="js3"> Next Js</label>
                            <input type="checkbox" style="position: relative; left: 6px ;" id="js4" name="js4" value="TypeScript" onchange="some_var=this.checked;">
                            <label for="js4" style="position: relative ; left:5px;"> TypeScript</label>
                        </div>     
                    </div>
                    <div class="input-blog-image-group">
                        <label for="input-blog-images" class="form-label" style="font-size:35px; font-weight:600; position: relative; left: 22px;">Upload image</label>
                        <input id="input-blog-image" type="file" style="border: 2px solid; background-color: rgb(150, 138, 138); width: 500px;cursor: pointer; " />
                    </div>
                    <div>
                        <button class="btn-pst" id="btn">submit</button>
                    </div>                        
                </div>
            </div>   
        </div>
</body>
<script src="./public/js/blog.js"></script>
</html>